:root {
  --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-slide-list::-webkit-scrollbar {
  width: 6px;
}

.sidebar-slide-list::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-slide-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
